<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--<link href="Content/trNgGrid.min.css" rel="stylesheet" />-->
</head>
<body>
    <div ng-app="appCar">
        <div ng-controller="ctrAppCar">
            <div class="container">
            <div class="row header">
                <h1 class="text-center">Car Finder</h1>
                <h2 class="text-center">Find a car's recall information</h2>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div id="dropdowns">
                        <div class="row">
                            <div class="col-sm-12">
                                <select ng-model="selectedYear" ng-options="year for year in years" ng-change="getMakes()" class="form-control"><option value="" selected>Select a year...</option></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <select ng-model="selectedMake" ng-options="make for make in makes" ng-disabled="selectedYear==''" ng-change="getModels()" class="form-control"><option value="" disabled selected ng-hide="selectedMake">Select a make...</option></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <select ng-model="selectedModel" ng-options="model for model in models" ng-disabled="selectedMake==''" ng-change="getTrims()" class="form-control"><option value="" disabled selected ng-hide="selectedModel">Select a model</option></select>
                            </div>
                        </div>
                        <div class="row" ng-show="showTrims">
                            <div class="col-sm-12">
                                <select ng-model="selectedTrim" ng-options="trim for trim in trims" ng-disabled="selectedModel==''" class="form-control"><option value="" disabled selected ng-hide="selectedTrim">Select a trim</option></select>
                            </div>
                        </div>
                    </div>   
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-info" ng-click="getCarNoTrim()" ng-if="showButton" ng-hide="selectedTrim">Get Car</button>
                                <button class="btn btn-info" ng-click="getaCar()" ng-show="selectedTrim">Get Car</button><br />
                                <div id="about">
                                    <p>Car Finder is a project by Annette Arrigucci for Coder Foundry</p>
                                    <p><a href="http://aarrigucci.azurewebsites.net" target="_blank">View portfolio</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <h2>{{selectedYear + " " + selectedMake  + " " + selectedModel   + " " + selectedTrim}}</h2>
                        <div class="row" ng-if="car">
                            <div class="col-md-12">
                                <div class="col-md-9">
                                    <img src="{{car.Image}}" width="800" height="600" class="img-responsive" style="border-color:black" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <strong><h3 style="color:black" ng-show="hasNoRecalls">No recalls found</h3></strong>
                                 <strong><h3 style="color:black" ng-if="recallResults.Results">RECALLS</h3></strong>
                                    <div ng-repeat="result in recallResults.Results" style="color:black">
                                        <h4>{{result.Component}}</h4>
                                        <div><strong>Summary: </strong>{{result.Summary}}</div>
                                        <div><strong>Consequence: </strong> {{result.Conequence}}</div>
                                        <div><strong>Remedy: </strong>{{result.Remedy}}</div>
                                        <div><strong>Notes: </strong>{{result.Notes}}</div>
                                        <br>
                                    </div>
                                </div>                                    
                            </div>
                            <div class="row" ng-if="car">
                                <div class="col-md-12">
                                    <button class="btn btn-info" ng-click="reloadPage()">New Search</button>
                                </div>
                            </div>
                            <div class="row" ng-if="car">
                                <div class="col-md-12">
                                    <br>
                                    Images obtained from Bing! search engine<br>
                                    Recall information from <a href="http://www.nhtsa.gov" target="_blank">NHTSA.gov</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo=" crossorigin="anonymous"></script>
    <script src="Scripts/jquery-ui.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>  
    <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script src="Car.js"></script>
    <script src="Controllers/CarController.js"></script>
    <script src="Services/CarServices.js"></script> 
    <script src="Scripts/ui-bootstrap-2.1.4.js"></script>  
</body>
</html>