@media only screen and (max-width: 800px) {

    .header{
            width: 100%;
            height: auto;
            background-size: 100% auto !important;
    }

    #dropdowns{
    	margin-right: 15px;
    	margin-left: 15px;
    }
    body{
    	font-size: 18px !important;
    }
	.form-control{
		font-size: 18px !important;
	}
	#results{
		margin-right: 15px;
    	margin-left: 15px;
	}
}

h1 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 65px;
}
 
body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 25px;
}

.header {
	padding: 20px;
	border-bottom: 5px solid red;
	margin-bottom: 10px;
}

#dropdowns {
	margin-top: 20px;
	margin-bottom: 20px;
}

#about {
	margin-top: 20px;
}

.footer { 
    height: 50px;
    margin-top: 10px;
}

.container{
	min-height: calc(100vh - 60px);
}

.btn {
	margin-top: 15px;
	font-size: 18px;
}

